<h1>Listing slices</h1>

<table>
  <tr>
    <th>Time</th>
    <th>Lat [deg]</th>
    <th>Lon [deg]</th>
    <th>Avgvel [m/s]</th>
    <th>Headingdeg [deg]</th>
    <th>Dist [m]</th>
    <th>Duration [s]</th>
    <th>Startlat [deg]</th>
    <th>Startlon [deg]</th>
  </tr>

<% for slice in @slices %>
  <tr>
    <td><%=h slice.time %></td>
    <td><%=h slice.lat %></td>
    <td><%=h slice.lon %></td>
    <td><%=h slice.avgvel %></td>
    <td><%=h slice.headingdeg %></td>
    <td><%=h slice.dist %></td>
    <td><%=h slice.duration %></td>
    <td><%=h slice.startlat %></td>
    <td><%=h slice.startlon %></td>
    <td><%= link_to 'Show', slice %></td>
    <td><%= link_to 'Edit', edit_slice_path(slice) %></td>
    <td><%= link_to 'Destroy', slice, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New slice', new_slice_path %>
| <%= link_to 'Home', :controller => :home %>
