<head>
    <title>Car Comm Server Prototype, 2010-04-12</title>

    <!-- bring in the OpenLayers javascript library
         (here we bring it from the remote site, but you could
         easily serve up this javascript yourself) -->
    <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
 
    <!-- bring in the OpenStreetMap OpenLayers layers.
         Using this hosted file will make sure we are kept up
         to date with any necessary changes -->
    <script src="http://www.openstreetmap.org/openlayers/OpenStreetMap.js"></script>
 
    <!-- The personal functions from CS -->
    <script src="csfuncs.js"></script>

    <script type="text/javascript">
 
        var map; //complex object of type OpenLayers.Map
        var layerGpx;
        var gpxStyleMap;
        var serverUrl;

        function zoomTo(lat, lon, zoom) {
            var lonLat = new OpenLayers.LonLat(lon, lat).transform(new OpenLayers.Projection("EPSG:4326"), map.getProjectionObject());
            map.setCenter (lonLat, zoom);
            updateExtent();
        }

        function zoomToHamburg() {
            // Start position for the map (hardcoded here for simplicity)
            zoomTo(53.5514, 9.99, 12);
        }

        function zoomToMuenchen() {
            zoomTo(48.1361, 11.5376, 12);
        }

        //Initialise the 'map' object
        function init() {

            serverUrl = ""; // "http://carcomm.cstimming.de/";

            // Define the map layer
            map = csCreateMap();

            // Define the styles for the way slices
            gpxStyleMap = csCreateGpxStyleMap();

            // Choose Hamburg as center
            zoomToHamburg();

        }

        function setServerUrl(value) {
          serverUrl = value;
        }

        function reloadWays() {
            if (layerGpx) {
                map.removeLayer(layerGpx);
                layerGpx.destroy();
            }

            var min_lat = document.forms.extent.min_lat.value;
            var max_lat = document.forms.extent.max_lat.value;
            var min_lon = document.forms.extent.min_lon.value;
            var max_lon = document.forms.extent.max_lon.value;

            var min_time = document.forms.extent.min_time.value;
            var max_time = document.forms.extent.max_time.value;

            // Add the Layer with GPX Track
            layerGpx = csCreateLayerGpx(serverUrl,
                                        min_lat, max_lat,
                                        min_lon, max_lon,
                                        min_time, max_time);

            map.addLayer(layerGpx);
        }

        function updateExtent() {
            var lonLatUR = map.getLonLatFromPixel(new OpenLayers.Pixel(0,0))
                .transform(map.getProjectionObject(),
                           new OpenLayers.Projection("EPSG:4326"));

            var mapSize = map.getSize();
            var lonLatLL = map.getLonLatFromPixel(new OpenLayers.Pixel(mapSize.w, mapSize.h))
                .transform(map.getProjectionObject(),
                           new OpenLayers.Projection("EPSG:4326"));

            document.forms.extent.min_lat.value = lonLatLL.lat;
            document.forms.extent.max_lon.value = lonLatLL.lon;
            document.forms.extent.max_lat.value = lonLatUR.lat;
            document.forms.extent.min_lon.value = lonLatUR.lon;

            document.forms.extent.max_time.value = dateToString(new Date());

            reloadWays();
        }
 
    </script>

</head>

<!-- body.onload is called once the page is loaded (call the 'init' function) -->
<body onload="init();">

<h1>Car Comm Server Prototype, 2010-05-19</h1>

<p>This is our prototype for a traffic information system using a
client-server architecture.</p>

<p>Current Status: We can view and edit the table of travel report
"slices". A "slice" is the smallest section of the travel reports from
the mobile devices, and it can represent 60 seconds of travel (or
maybe 20 or 90 seconds). The slice is represented by its starting and
ending point in WGS84 coordinates (latitude and longitude), and the
average velocity in between.</p>

<p>Go <a href="map.html">here for a Web application implementation</a> of this system.</p>

<p>You can <%=
link_to "view the table of reported slices", slices_path %>.</p>

<% form_tag('home/gpxUpload', :multipart => true ) do %>
<label for="upload">You can upload a GPX file with GPS logs. Select
File: </label>
<%= file_field_tag 'upload' %>
and <%= submit_tag "Upload GPX" %>
<% end %>

<% form_tag('home/nmeaUpload', :multipart => true ) do %>
<label for="upload">You can upload a NMEA file with GPS logs. Select
File: </label>
<%= file_field_tag 'upload' %>
and <%= submit_tag "Upload NMEA" %>
<% end %>

<p>(File upload will store way slices in a 30-second raster, not finer
than that for now.)</p>

<h2>Displaying the ways on a map</h2>

<p>This display uses the <a
href="http://www.openstreetmap.org">openstreetmap.org</a>
map. Additionally, all the way slices from <%= link_to "here",
                                             slices_path %> are shown as well, and the "average velocity" (in [m/s] in the table, but in [km/h] for the colors)
    chooses the display color, as shown below.</p>

<table><tr><td>
<!-- define a DIV into which the map will appear. Make it take up 400 pixels -->
<div style="width:400px; height:400px" id="map"></div>
</td><td valign="top">
<form name="extent">
<table>
<tr><td>min_lat</td><td><input type="text" name="min_lat" value=""></td></tr>
<tr><td>max_lat</td><td><input type="text" name="max_lat" value=""></td></tr>
<tr><td>min_lon</td><td><input type="text" name="min_lon" value=""></td></tr>
<tr><td>max_lon</td><td><input type="text" name="max_lon" value=""></td></tr>
<tr><td>min_time</td><td><input type="text" name="min_time" value="2009-05-01T00:00:00Z"></td></tr>
<tr><td>max_time</td><td><input type="text" name="max_time" value=""></td></tr>
<tr><td colspan="2"><input type="button" value="Only Reload Ways" onClick="reloadWays()"> according to the coordinates above</td></tr>
<tr><td colspan="2"><input type="button" value="Reload" onClick="updateExtent()"> everything (coordinates from map, and ways from coordinates)</td></tr>
</table>
</form>

<br>

<table><tr><td>Average [km/h]</td><td>Color</td></tr>
<tr><td>0 - 18</td><td style="background-color:red">Red</td></tr>
<tr><td>18 - 40</td><td style="background-color:yellow">Yellow</td></tr>
<tr><td>40 - 65</td><td style="background-color:green">Green</td></tr>
<tr><td>65 - 95</td><td style="background-color:cyan">Cyan</td></tr>
<tr><td>95 - 250</td><td style="background-color:blue">Blue</td></tr>
</table>

</td></tr></table>

<p>Zoom to
<input type="button" value="Hamburg" onClick="zoomToHamburg()">
<input type="button" value="M&uuml;nchen" onClick="zoomToMuenchen()">
</p>

</body>

<!-- Local Variables: -->
<!-- mode: javascript -->
<!-- indent-tabs-mode:nil -->
<!-- c-basic-offset:4 -->
<!-- tab-width:8 -->
<!-- End: -->
